@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
};

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
};


*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
  background-color: #feeaee;
}

.App {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-image: url('./pages/frontpage/assets/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow-x: none;
}
